:root {
  --black: #17252A;
  --main: #3aafaa;
  --secondary: #2b7a78;
  --hover: #def2f1;
  --white: #feffff;
}

.App {
  text-align: center;
  background: var(--main);
  color: var(--white);
  min-height: 100vh;
  /* border: 1px solid red; */
}
h4{
  color: var(--black);
  margin: 10px;
  padding: 10px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home, .about, .contact {
  display: inline;
  background: var(--main);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  /* border: 1px solid yellow; */
}
.projects{
  display: inline;
  background: var(--main);
  height: 100%;
  padding-top: 50px;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  /* border: 1px solid yellow; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar {
  background-color: var(--main);
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}
.nav-menu{
  background-color: var(--secondary);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
}
.nav-text{
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}
.nav-text a {
  text-decoration: none;
  color: var(--white);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-text a:hover {
  background-color: var(--black);
}
.nav-menu-items {
  width: 100%;
}
.navbar-toggle {
  background-color: var(--secondary);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
span {
  margin-left: 16px;
}
.project-text{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.p1image{
  flex-basis: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  border-radius: 15px;
  width: 35%;
}
.p2image, .p3image{
  flex-basis: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  border-radius: 15px;
  width: 50%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
